<!DOCTYPE html>
<html>
  <head>
    <title>Error - {{error_code}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    h2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        font-weight: 700;
    }

    body {
        background-color: rgba(210, 180, 140, 0.382);
    }

    </style>
    
    </head>

        <body>
            <h2>Something went wrong — {{error_description}} </h2>
        </body>
</html>